*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input_main{

    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    column-gap: 150px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    width: 1200px;
    margin: 250px auto 50px auto;
    border-radius: 20px;
    padding: 200px 0 200px 0;
}

input{

    width: 350px;
    padding: 12px 5px;
    border-radius: 10px;
    border: 1px solid #000;
    outline: none;
    
}
.resultof{

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    margin-top: 20px;
    opacity: 0;
}

.btn_main{

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    margin-top: 10px;
}

.btn{

    background: #8d6f05;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.btn2{

    background: #8d6f05;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}


/* media query */

@media(max-width: 991px){

    .input_main{

        width: 300px;
        row-gap: 10px;
        padding: 100px 0 100px 0;
    }

    input{

        width: 250px;
        
    }
}